body {
	font-size: 62.5%;
	margin: 0px;
	padding: 0px;
}
#content {
	margin-left: 15px;
	margin-top: 15px;
	border: 1px dashed #999;
	border-right: none;
	border-bottom: none;
}
p.caption {
	font-size: 1.3em;
	line-height: normal;
	margin-bottom: 15px;
}

.figure{
	width: 225px;
	float: left;
	padding: 10px;
}

.photo{
	border: 1px solid #cccccc;
	padding: 4px;
	box-shadow: 2px 2px 4px #cccccc;
	width: 200px;
}

.cleaner{
	clear: both;
}

#gallery .figure p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	text-align: center;
	line-height: normal;
	margin: 10;
}


h1 {
	font: normal 2.4em Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	border-bottom: 1px dashed #999;
	padding: 5px 0 5px 8px;
	color: #14556b;
}
p {
	font: 1.6em/160% Georgia, "Times New Roman", Times, serif;
	margin: 10px 8px;
}
