body, html{
    height: 100%;
    padding: 0;
    margin: 0;
}

.parallax{
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.parallax_1{
    background-image: url('img/trajka.jpg');
}

.parallax_2{
    background-image: url('img/rzeka.jpg');
}

.content{
    background-color: #81afc1;
    font-size: 24px;
    padding: 40px 10%;
    text-align: justify;
}
